#titleDiv {
  border-style: none;
  font-family: Arial,Helvetica,sans-serif;
  text-align: left;
  width: 960px;
  font-size: 1.4em;
}
body {
  background-image: url(../art/webBg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#mainDiv {
  border: 2px inset #4bc0f0;
  background-image: url(../art/mainDiv.png);
  padding: 15px;
  margin: 5px;
  flex: 1;
}
#navDiv {
  border: 1px solid #000010;
  border-image: url(../art/frame.png) 24 stretch;
  opacity: 0.8;
  width: 200px;
  height: 100%;
  padding: 10px;
  margin: 5px;
  flex-shrink: 0;
}
#holder {
  font-family: Calibri;
  display: flex;
  width: 98%;
  margin: auto;
  gap: 16px;
}
