#titleDiv {
  border-style: none;
  font-family: Arial,Helvetica,sans-serif;
  text-align: left;
  width: 960px;
  font-size: 1.4em;
}
body {
  background-image: url(../art/webBg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#mainDiv {
  border: 4px inset #5cc0ff;
  background-image: url(../art/mainDiv.png);
  padding: 15px;
  flex: 1;
}
#navDiv {
  width: 200px;
  flex-shrink: 0;
}
#holder {
  font-family: Calibri;
  display: flex;
  width: 960px;
  margin: auto;
  gap: 16px;
}
